
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*************************HEADER*****************************/

header {
    background-color: #e3fdfd;
    text-align: center;
    padding-top: 40px;
    position:relative;
}

.top-container{


}

.top-container h1{
  font-size: 60px;
  margin: 0 auto;

}

.top-container p{
font-size: 40px;
margin: 0 auto;

}
.middle-container {
  background-color: blue;
  width: 200px;
  height: 200px;
}

.bottom-container {
  width: 200px;
  height: 200px;
}

.top-cloud{
  top:80px;
  position: absolute;
  right: 250px;

}
.bottom-cloud{
  position: absolute;
  left: 200px;
  bottom: 200px;
}
